In [1]:
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn import tree
import pandas as pd

In [3]:
dataset = pd.read_csv('InformationGainData.csv')

In [4]:
dataset

    RID          age  income student credit_rating Class:buys computer
0     1        youth    high      no          fair                  no
1     2        youth    high      no     excellent                  no
2     3  middle_aged    high      no          fair                 yes
3     4       senior  medium      no          fair                 yes
4     5       senior     low     yes          fair                 yes
5     6       senior     low     yes     excellent                  no
6     7  middle_aged     low     yes     excellent                 yes
7     8        youth  medium      no          fair                  no
8     9        youth     low     yes          fair                 yes
9    10       senior  medium     yes          fair                 yes
10   11        youth  medium     yes     excellent                 yes
11   12  middle_aged  medium      no     excellent                 yes
12   13  middle_aged    high     yes          fair                 yes
13   14       senior  medium      no     excellent                  no
14   15        youth     low     yes          fair                 NaN

In [5]:
dataset.drop(['RID'],axis=1,inplace=True)

In [6]:
dataset

            age  income student credit_rating Class:buys computer
0         youth    high      no          fair                  no
1         youth    high      no     excellent                  no
2   middle_aged    high      no          fair                 yes
3        senior  medium      no          fair                 yes
4        senior     low     yes          fair                 yes
5        senior     low     yes     excellent                  no
6   middle_aged     low     yes     excellent                 yes
7         youth  medium      no          fair                  no
8         youth     low     yes          fair                 yes
9        senior  medium     yes          fair                 yes
10        youth  medium     yes     excellent                 yes
11  middle_aged  medium      no     excellent                 yes
12  middle_aged    high     yes          fair                 yes
13       senior  medium      no     excellent                  no
14        youth     low     yes          fair                 NaN

In [7]:
from sklearn.preprocessing import LabelEncoder

In [9]:
le=LabelEncoder()
dataset['age']=le.fit_transform(dataset['age'])
dataset['income']=le.fit_transform(dataset['income'])
dataset['student']=le.fit_transform(dataset['student'])
dataset['credit_rating']=le.fit_transform(dataset['credit_rating'])
dataset['Class:buys computer']=le.fit_transform(dataset['Class:buys computer'])

In [10]:
dataset

    age  income  student  credit_rating  Class:buys computer
0     2       0        0              1                    0
1     2       0        0              0                    0
2     0       0        0              1                    1
3     1       2        0              1                    1
4     1       1        1              1                    1
5     1       1        1              0                    0
6     0       1        1              0                    1
7     2       2        0              1                    0
8     2       1        1              1                    1
9     1       2        1              1                    1
10    2       2        1              0                    1
11    0       2        0              0                    1
12    0       0        1              1                    1
13    1       2        0              0                    0
14    2       1        1              1                    2

In [11]:
X = dataset.drop(['Class:buys computer'],axis=1)
Y = dataset['Class:buys computer']

In [12]:
X

    age  income  student  credit_rating
0     2       0        0              1
1     2       0        0              0
2     0       0        0              1
3     1       2        0              1
4     1       1        1              1
5     1       1        1              0
6     0       1        1              0
7     2       2        0              1
8     2       1        1              1
9     1       2        1              1
10    2       2        1              0
11    0       2        0              0
12    0       0        1              1
13    1       2        0              0
14    2       1        1              1

In [13]:
Y

0     0
1     0
2     1
3     1
4     1
5     0
6     1
7     0
8     1
9     1
10    1
11    1
12    1
13    0
14    2
Name: Class:buys computer, dtype: int64

In [14]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=1)

In [15]:
from sklearn.naive_bayes import GaussianNB

In [17]:
classifier = GaussianNB()
classifier.fit(X_train, Y_train)

GaussianNB()

In [18]:
X_test

   age  income  student  credit_rating
3    1       2        0              1
7    2       2        0              1
6    0       1        1              0

In [19]:
X_test_GV=[[1,0,1,0]]

In [20]:
Y_pred  =  classifier.predict(X_test_GV)

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

In [21]:
print(Y_pred)

[1]

In [22]:
Y_pred  =  classifier.predict(X_test)

In [23]:
from sklearn.metrics import classification_report,confusion_matrix

In [25]:
print(confusion_matrix(Y_test,Y_pred))
tn,fp,fn,tp=confusion_matrix(Y_test,Y_pred).ravel()
(tn,fp,fn,tp)

[[0 1]
 [0 2]]

(0, 1, 0, 2)

In [27]:
from sklearn.metrics import accuracy_score

In [28]:
accuracy = accuracy_score(Y_test,Y_pred)
accuracy

0.6666666666666666